.LikeBlogCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 10px;
  background: linear-gradient(158.83deg, rgba(255, 255, 255, 0.4) 2.85%, rgba(255, 255, 255, 0.1) 90.8%);
  box-shadow: 0px 4px 40px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 30px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.LikeBlogCard p {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;

}

.loginRightSideWrapper {
  background-color: var(--secondryColor);
}

.registerWrapper {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background: #FFFFFF;
  width: 500px;  
  margin: auto; 
  margin-top: 20px;
  padding: 15px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
}
.signupBtn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  
  width: 613px;
  height: 48px;
  border: none;
  background: #395180;
  border-radius: 10px;
  color: white;
  /* Inside auto layout */
  
  flex: none;
  order: 6;
  align-self: stretch;
  flex-grow: 0;
}
