:root {
  --primaryColor: #C72617;
  --secondryColor: #D1660C;
  --headingPurpel: #6824cf;
  --headingBlue: #10417f;
  --greyColor: #313131;
  --xs-font: .75rem !important;
  --small-font: .825rem !important;
  --regular-font: .875rem !important;
  --medium-font: 1rem !important;
  --large-font: 1.125rem !important
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
}

footer {
  background-color: #FFFFFF;
  min-height: auto
}

footer img.footerlogo {
  width: 173px;
  height: auto;
  object-fit: contain;
  margin-top: 10px
}

.fot-top-bar {
  border-bottom: 1px solid #FFFFFF;
  height: 56px
}

.fot-top-bar .innerBar {
  display: flex;
  justify-content: space-between
}

.fot-top-bar .socialArea .emailBox {
  min-height: 55px;
  display: flex;
  background-color: #FFFFFF;
  font-size: var(--regular-font);
  border: 1px solid #2b3955;
  border-width: 0 1px 0 1px;
  width: fit-content;
  padding: 0 25px;
  align-items: center;
  font-size: var(--regular-font)
}

.fot-top-bar .socialArea .emailBox a {
  color: #FFFFFF
}

.fot-top-bar .socialArea .emailBox i {
  margin-left: 5px
}

.footerMenu-Btn {
  background-color: #FFFFFF;
  font-size: var(--regular-font);
  border: 1px solid #FFFFFF;
  border-width: 0 1px 0 1px;
  width: fit-content;
  padding: 0 25px;
  align-items: center;
  font-size: var(--regular-font);
  color: #FFFFFF
}

.footerMenu-Btn.tooglrIcon i {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg)
}

.footerMenu-Btn i {
  margin-left: 10px
}

.fot-top-bar .socialArea {
  margin-left: 5px;
  display: flex;
  column-gap: 20px
}

.fot-top-bar .socialArea .emailBox i {
  font-size: var(--large-font);
  margin-right: 10px
}

.fot-top-bar .socialArea .emailBox:hover i {
  color: #13b9c4
}

.fot-top-bar .socialArea ul.socialIcon {
  display: flex
}

.fot-top-bar .socialArea ul.socialIcon li a {
  padding: 0 20px;
  color: #FFFFFF;
  align-items: center;
  height: 100%;
  display: flex;
  font-size: var(--large-font)
}

.fot-top-bar .socialArea ul.socialIcon li a:hover {
  color: var(--primaryColor)
}

.footerNav {
  display: flex;
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 15px
}

#footerNav {
  display: none
}

.footerNav ul {
  flex: 1;
  padding: 13px 10px 0
}

.footerNav ul li {
  list-style: none
}

.footerNav ul li a {
  color: #FFFFFF;
  align-items: center;
  display: inline-flex;
  padding: 2px 0;
  font-weight: 400;
  font-size: var(--small-font)
}

.footerNav ul li a:hover {
  color: var(--primaryColor)
}

.footerNav ul li a span,
.footerNav ul li a i {
  color: #FFFFFF;
  font-size: var(--regular-font);
  margin-right: 10px
}

.fot-bot-bar {
  border-top: 1px solid #FFFFFF
}

.footerContentArea {
  display: flex;
  color: #FFFFFF;
  padding: 25px 0;
  justify-content: space-between;
  column-gap: 60px
}

.footerContentArea .growArea {
  max-width: 430px;
  column-gap: 50px
}

.footerContentArea .growArea h2 {
  color: var(--primaryColor);
  font-size: var(--large-font);
  font-weight: 500;
  padding-bottom: 10px
}

.footerContentArea .growArea p {
  font-size: var(--regular-font);
  font-weight: 300;
  color: #FFFFFF
}

.footerLinks {
  max-width: 230px;
  width: 100%
}

.footerLinks h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: var(--greyColor)
}

.footerLinks ul {
  margin-top: 5px;
  padding-left: 0
}

.footerLinks li {
  padding-top: 2px;
  margin: 0;
  padding-bottom: 2px !important;
  list-style: none
}

.footerLinks li a {
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--greyColor);
}